h1,h2, h3, h4, h5, h6, figure{
    margin: 0
}

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.contenedor_principal{
    width: 810px;
    display: block;
    margin: 0 auto;
    background-image: url('../images/bg-home.jpg');
    background-size: cover;
    
     }

/* .contenedor_principal figure{
        width: 250px;
        margin: 10px 0px 0px 30px;
        padding-top: 5px;
        display: inline-block;
    
} */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header figure{
    margin: 10px 0px 10px 30px;
}
.redes{
        float: right;
        padding: 15px 30px 15px 0px;
    }
.redes li{
        display: inline-block;
        margin: 10px;
    }
  


.menu{
      
        background-image: url('../images/menu.png');
        display: flex;
        width: 810px;
        height: 40px;
        align-items: center;
        justify-content: center;
}


    
.menu ul{
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }
    
.menu li{
        display: inline-block;
        /* width: 81px;
        margin: 0 20px; */
        padding: 20px;
        
    }


.menu a{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

h1 {
    color: white;
    position: absolute;
    margin: 0;
    /* margin-bottom: 40px; */
    display: inline-block;
    margin-left: 81px;
    margin-top: 42px;
}

.primer_seccion {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    height: 350px;
}

.port {
    margin: 50px 0px 10px 130px;
    padding: 0px;
}

.container_portada {
    display: inline-block;
}

.figura_itunes {
    display: inline-block;
    margin: 0;
    position: absolute;
    margin-left: 90px;
    margin-top: 140px;
}

.primer_seccion ul {
    display: inline-block;
    
}

.primer_seccion li {
    display: inline-block;
    margin: 8px;
    
}

.logos_lista1 {
    padding: 0;
    margin-left: 58px;
    /* margin-bottom: 40px; */
    position: absolute;
    margin-top: 215px;
}

.logos_lista2 {
    padding: 0;
    position: absolute;
    margin-left: 35px;
    margin-top: 245px;
}



.info_noticias {
    color: white;
}
.contenedor_plataformas{
    display: inline;
    text-align: center
}
.video-tabfacebook{
    position: relative;
    width: 709px;
    display: block;
    margin: 0 auto;
}
.wrapper_video{

}
.video-tabfacebook .icon-video{
    position: absolute;
    top: 180px;
    left: -10px;
    pointer-events:none;
}
.vermas{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: right    
}

.info_biografia {
    
    width: 709px;
    display: block;
    margin: 0 auto;
}
.info_biografia .icon-bio {
    position: absolute;
    top: 165px;
    left: 25px;

}

/* .vermas-bio {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: right  
} */
.img_biografia{
    position: relative;
    margin: 70px 0;
}
.texto{
    position: absolute;
    color: #ffffff;
    width: 360px;
    height: 250px;
    text-align: justify;
   right: 30px;

}

.vermas-icon{
    position: absolute;
    bottom: 45px;
    right: 48px;
}
.seccion_dos_columnas{
    display: grid;
    grid-template-columns: 340px 340px;
    grid-column-gap: 20px;
    justify-content: center;
    height: 580px;
}
    .seccion_dos_columnas .item{
       
    }
    .seccion_dos_columnas .contenedor_noticias .estreno{
        color: #aa0000;
        margin-bottom: 15px;
        
    }
        .seccion_dos_columnas .contenedor_noticias .icon-noticias{ 
            margin-bottom: 30px;
         
        }
.descripcion-sencillo{
    color: #ffffff;
    text-align: justify;
    width: 364px;
    height: 205px;
    
}     
.vermas-noticias{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: right
}   