@font-face {
    font-family: 'icomoon';
    src:  url('../iconos/fonts/icomoon.eot?mscmd6');
    src:  url('../iconos/fonts/icomoon.eot?mscmd6#iefix') format('embedded-opentype'),
      url('../iconos/fonts/icomoon.ttf?mscmd6') format('truetype'),
      url('../iconos/fonts/icomoon.woff?mscmd6') format('woff'),
      url('../iconos/fonts/icomoon.svg?mscmd6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  

body{
    margin: 0;
}

.header{
    padding-top: 20px;
    background: #F2EFDE;
}

.menu-principal{
    display: inline-block;
}

.logo-principal{
    display: inline-block;
    margin: 0;
    width: 10%;
}

.logo-principal img{
    max-width: 100%;
    vertical-align: middle;
}

.lista{
    padding: 0;
    margin: 0;
    text-align: center;
}

.secciones{
    text-decoration: none;
    font-family: 'roboto';
    font-size: 20px;
    margin: 13px;
    color: #8CD21F;
}

.hero{
    background: #F2EFDE;
    padding-top: 15px;
    margin-bottom: -4px;
}

.gotero{
    margin: 0;
    
}

.slider{
    max-width: 100%;
}

.info{
    display: flex;
    justify-content: center;
    background: #B69A59;

}

.cont-descripcion{
    max-width: 50%;
}

.descripcion{
    color: #352B12;
    font-family: 'roboto';
    text-align: center;
    font-size: 28px;
    margin:30px 0;
    
}

.cont-cajas{
    display: flex;
    text-align: center;
}

.caja1{
    display: inline-block;
    width: 49%;
    margin-top: 140px;
   
}
.cont-img-caja1{
    margin: 0;
    display: flex;
}
.cont-img-caja1 img{
    max-width: 100%;
}
.caja2{
    display: inline-block;
    width: 49%;
    margin-top: 170px;
    
}
.EBIEN{
    margin: 0;
    margin-right: 40px;
    text-align: right;
    font-size: 29px;
    color: #352B12;
}
.ebien-conocemas{
    margin: 0;
    text-align: right;
    margin-top: 100px;
    margin-right: 40px;
    color: #8CD21F;

}
.cursiva-conocemas{
    color: #352B12;
}

.productos{
    margin-top: 70px;
}
.titulo-productos{
    color: #8CD21F;
    text-align: center;
    margin: 0;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 60px;
}
.cont-productos{
    display: flex;
    justify-content: center;
}
.cont-img-productos{
    margin: 0;
}
.cont-img-productos img{
    max-width: 100%;
}
.caja-productos{
    display: inline-block;
    width: 215px;
    margin: 15px;
}
.caja-productos p{
    margin: 0;
    text-align: center;
    color: #352B12;
}

.stevia-rebaudiana{
    margin: 0;
    text-align: center;
    color: #8CD21F;
    font-size: 40px;
}
.img-rebaudiana{
    margin: 0;
    text-align: center;
    width: 50%;
}
.img-rebaudiana img{
    max-width: 100%;
}
.cont-stevia-rebaudiana{
    background: #F2EFDE;
    padding-top: 150px;
    padding-bottom: 150px;
}
.cont-cajas-rebaudiana{
    display: flex;
    justify-content: center;

}
.caja-izquierda{
    width: 17%;
}
.caja-izquierda-arriba{
    width: 100%;
    margin-bottom: 250px;
} 
.caja-izquierda-abajo{
    width: 100%;
}
.caja-derecha{
    width: 20%;
}
.caja-derecha-arriba{
    width: 90%;
    margin-bottom: 250px
}
.caja-derecha-abajo{

}
.texto-cajas{
    margin: 0;
} 
.compras{
    background: #B69A59;
    padding-top: 100px;
}
.compra{
    text-align: center;
    margin: 0;
    font-size: 45px;
    color: #352B12;
}
.cont-compra{
    display: flex;
    justify-content: center;
}
.cont-ico{
    width: 130px;
    /* height: 130px; */
    margin: 0 50px;
}
.cont-ico p{
    margin: 0;
    text-align: center;
    color: #352B12;
}
 .fig-ico{
    margin: 0;
    text-align: center;
}
.cont-compra img{
    max-width: 100%;
    margin-top: 50px;
}
.cont-recetas{
    margin-top: 150px;
}
.title{
    text-align: center;
    margin: 0 auto;
    font-size: 28px;
    width: 27%;
    color: #352B12;
}
.vertical{
    width: 0px;
    height: 120px;
    margin-bottom: 25px;
    border-color: #352B12;
}
.title-recetas{
    text-align: center;
    margin: 0;
    font-size: 50px;
    color: #352B12;
    margin-bottom: 90px;
}

.cont-catalogo-productos{
    display: flex;
    margin-top: 150px;
}
.box1{
    width: 49%;
    display: inline-block;
    margin-top: 30px;
}
.cont-txt{
    margin: 0;
    font-size: 28px;
}
.box1 div{
    width: 75%;
    margin-left: 80px;
}
.box2{
    width: 49%;
    display: inline-block;
    text-align: right;
    margin-right: 80px;
}
.cont-imgfamilia{
    margin: 0;
}
.cont-imgfamilia img{
    max-width: 80%;
}
.prod{
    margin: 0;
    color: #352B12;
}
.informacion{
    margin: 0;
    color: #352B12
}
.tel{
    margin: 0;
    margin-top: 30px;
    color: #8CD21F;
}
.contacto{
    margin: 0;
    color: #8CD21F;
}
.lista-redes{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}
.lista-redes li{
    display: inline-block;
}
.lista-redes li, a{
    text-decoration: none;
    font-size: 35px;
    margin: 2px;
    color: #8CD21F;
}
p, h1{
    font-family: 'roboto';
}

